:root {
    --swipe-text-duration: 1s;
    --swipe-background-color: #f60e0e;
}

h1.swipe-target {
    color: white;
    background-color: var(--swipe-background-color);
    box-sizing: border-box;
    padding: 8px;
    font-family: Arial;
    width: fit-content;
    margin: 12px;
}

p.swipe-target {
    width: 400px;
}

.swipe-target {
    position: relative;
}

.swipe {
    height: 2px;
    top: calc(50% - 1px);
    width: 50px;
    background-color: var(--swipe-background-color);
    position: absolute;
    left: -50%;
    animation: swipeRight var(--swipe-text-duration) ease-in-out forwards;
    transform-origin: center;
    opacity: 0;
}

@keyframes swipeRight {
    0% {
        transform: scaleY(0%);
        left: -100px;
        opacity: 1;
    }
    25% {
        transform: scaleY(2650%);
    }
    75% {
        transform: scaleY(2650%);
    }
    100% {
        transform: scaleY(0%);
        left: calc(100% + 50px);
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    width: 101%;
    height: 101%;
    top: 0;
    left: 0;
    transform-origin: right;
    background-color: white;
    animation: swipeAway var(--swipe-text-duration) linear forwards;
}

@keyframes swipeAway {
    30% {
        transform: scaleX(100%);
    }
    70% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(0%);
    }
}

@keyframes swipeIn {
    0% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(100%);
    }
}

.finalOverlay {
    transform-origin: left;
    animation: swipeIn var(--swipe-text-duration) ease forwards;
    animation-delay: 5s;
    transform: scaleX(0%);
}
