:root {
    --swipe-text-duration: 1s;
    --swipe-background-color: #f60e0e;
}

div.swipe-target {
    background-color: var(--swipe-background-color);
    box-sizing: border-box;
    padding: 16px;
    width: fit-content;
    width: 298px;
}

h1.swipe-text {
    color: white;
    font-family: monospace;
    margin: 0px;
    animation: typing 1s steps(12, end) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 1s;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px;
    border-right: 2px solid transparent;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

p.swipe-target {
    width: 400px;
}

.swipe-target {
    position: relative;
}

.swipe {
    height: 2px;
    top: calc(50% - 1px);
    width: 50px;
    background-color: var(--swipe-background-color);
    position: absolute;
    left: -50%;
    animation: swipeRight var(--swipe-text-duration) ease-in-out forwards;
    transform-origin: center;
    opacity: 0;
}

@keyframes swipeRight {
    0% {
        transform: scaleY(0);
        left: -100px;
        opacity: 1;
    }
    25% {
        transform: scaleY(39);
    }
    75% {
        transform: scaleY(39);
    }
    100% {
        transform: scaleY(0);
        left: calc(100% + 50px);
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    width: 101%;
    height: 101%;
    top: 0;
    left: 0;
    transform-origin: right;
    background-color: white;
    animation: swipeAway var(--swipe-text-duration) ease forwards;
}

@keyframes swipeAway {
    30% {
        transform: scaleX(100%);
    }
    70% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(0%);
    }
}

@keyframes swipeIn {
    0% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(100%);
    }
}

.finalOverlay {
    transform-origin: left;
    animation: swipeIn var(--swipe-text-duration) ease forwards;
    animation-delay: 5s;
    transform: scaleX(0%);
}
