.clock {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid black;
    position: relative;
}

.arms {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.time-line-mask {
    width: 180px;
    height: 180px;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.time-line {
    height: 50%;
    width: 1px;
    left: calc(50%);
    transform-origin: bottom;
    background-color: black;
    position: absolute;
}

.one {
    transform: rotate(30deg);
}

.two {
    transform: rotate(60deg);
}

.three {
    transform: rotate(90deg);
}

.four {
    transform: rotate(120deg);
}

.five {
    transform: rotate(150deg);
}

.six {
    transform: rotate(180deg);
}

.seven {
    transform: rotate(210deg);
}

.eight {
    transform: rotate(240deg);
}

.nine {
    transform: rotate(270deg);
}

.ten {
    transform: rotate(300deg);
}

.eleven {
    transform: rotate(330deg);
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.35);
}
